<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>주민등록등본</title>
    <link rel="stylesheet" href="/resources/residentList.css">
</head>
<body>
    <h2>주민등록등본</h2>
    <hr/>
    <table class="resident-table">
        <thead>
            <tr class="header-row">
                <th>발급일</th>
                <th>증명성 확인번호</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td th:text="${reportDate}"></td>
                <td th:text="${certificate.certificateConfirmationNumber}"></td>
            </tr>
        </tbody>
    </table>

    <hr/>
    <table class="resident-table">
        <thead>
        <tr class="header-row">
            <th>세대주 성명</th>
            <th>세대구성 사유</th>
            <th>세대구성 일자</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${name}"></td>
            <td th:text="${household.householdCompositionReasonCode}"></td>
            <td th:text="${household.householdCompositionDate}"></td>
        </tr>
        </tbody>
    </table>
    <hr/>

    <table class="resident-table">
        <thead>
            <tr class="header-row">
                <th>주소 구분</th>
                <th>주소</th>
                <th>신고일</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="address : ${addresses}">
                <td th:text="${address.addressComposition}"></td>
                <td th:text="${address.address}"></td>
                <td th:text="${address.reportDate}"></td>
            </tr>
        </tbody>
    </table>

    <table class="resident-table">
        <thead>
            <tr class="header-row">
                <td>세대주 관계</td>
                <td>성명</td>
                <td>주민등록번호</td>
                <td>신고일</td>
                <td>변동사유</td>
            </tr>
        </thead>
        <tbody>
            <tr th:each="content : ${contents}">
                <td th:text="${content.relationship}"></td>
                <td th:text="${content.name}"></td>
                <td th:text="${content.idNumber}"></td>
                <td th:text="${content.reportDate}"></td>
                <td th:text="${content.reasonCode}"></td>
            </tr>
        </tbody>
    </table>

    <br/>

    <a href="/resident?page=0?&size=5">
        <input type="button" value="뒤로가기">
    </a>


</body>
</html>